* {
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	background: lightblue;
}

a {
	color: white;
	text-decoration: none;
}

nav li {
	display: inline-block;
}

nav {
	width: 100%;
	position: fixed;
	top: 0;
}

nav ul {
	background-color: #4577ed;
	text-align: center;
	margin: 0;
}

li {
	height: 50px;
	line-height: 50px;
	width: 200px;
}

nav ul ul li {
	display: block;
}

nav ul ul {
	display: none;
	position: absolute;
	padding: 0;
}

nav li:hover {
	background-color: #7e9fed;
}

nav li:hover ul {
	display: block;
}
