body {
	font-family: 'Quicksand', sans-serif;
	background-color: #67BCDB;
}

main {
	margin-top: 15%;
	text-align: center;
}

.trigger {
	border: none;
	padding: 1% 2% 1% 2%;
	font-size: 25px;
	cursor: pointer;
	background-color: #4577ed;
	color: white;
	margin: 1% 0 1% 0;
}

.trigger:hover {
	background-color: rgba(69, 119, 237, 0.7)
}

#tweetButton {
	border: none;
	background-color: white;
	padding: 5px 8px 5px 8px;
	font-size: 15px;
}

#tweetButton a, a:hover, a:active {
	color: blue;
	text-decoration: none;
}



